{% extends "layout.html" %}

{% block content %}
{% if products %}
<div class="products">
  {% for product in products %}
  <div class="product">
    <a href="#" id="{{ product.id }}" class="product_image">
      <image src="/media/{{ product.product_image }}" alt="product" />
    </a>
    <div>{{ product.expiry_date }}<br>({{ product.expiry_date|timeuntil }})</div>
    <div class="product--left">
      <div>Macropicks: {{ prodcut.is_macropicks }}</div>
      <form action="{% url 'product_delete' product.id %}" method="post" id="delete_form">
        {% csrf_token %}
        <button type="submit" class="btn btn_delete" onclick="return confirm('Emin misiniz?');">Sil</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
Eklenmiş ürün bulunamadı.
{% endif %}
{% endblock %}