{% extends "layout.html" %}

{% block content %}
<div id="progress"><span class="process"></span></div>
<form method="post" action="{% url 'product_add' %}" enctype="multipart/form-data" id="add_product_form">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Ekle" class="btn btn_submit">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  const uploadForm = document.getElementById('add_product_form');
  const input_file = document.getElementById('id_product_image');
  const progress_bar = document.getElementById('progress');

  progress_bar.style.visibility = 'hidden';

  $("#add_product_form").submit(function (e) {
    e.preventDefault();
    $form = $(this)
    var formData = new FormData(this);
    const media_data = input_file.files[0];
    if (media_data != null) {
      progress_bar.style.visibility = 'visible';
    }

    $.ajax({
      type: 'POST',
      url: 'http://164.92.178.20/products/add',
      data: formData,
      beforeSend: function () {

      },
      xhr: function () {
        const xhr = new window.XMLHttpRequest();
        xhr.upload.addEventListener('progress', e => {
          if (e.lengthComputable) {
            const percentProgress = (e.loaded / e.total) * 100;
            progress_bar.innerHTML = `<div class="process" style="width: ${percentProgress}%" aria-valuenow="${percentProgress}" aria-valuemin="0" 
              aria-valuemax="100"></div>`
          }
        });
        return xhr
      },
      success: function (response) {
        //console.log(response);
        window.location.href = '/';
      },
      error: function (err) {
        console.error(err);
      },
      cache: false,
      contentType: false,
      processData: false,
    });
  });

</script>
{% endblock %}