{% extends "layout.html" %}
{% load static %}

{% block content %}
{% if products %}
<div class="align-right" style="padding: 10px;"><strong>Toplam Kayıt: </strong> {{ page_obj.paginator.count }}</div>
<div class="pagination">
  <a href="?page=1" class="page">İlk Sayfa</a>
  {% for i in page_obj.paginator.page_range %}
  {% if page_obj.number == i %}
  <span class="page current">{{ i }}</span>
  {% else %}
  <a href="?page={{i}}" class="page">{{ i }}</a>
  {% endif %}
  {% endfor %}
  <a href="?page={{ page_obj.paginator.num_pages }}" class="page">Son Sayfa</a>
</div>
<div class="products">
  {% for product in products %}
  <div class="product">
    <a href="#" id="{{ product.id }}" class="product_image">
      <image src="/media/{{ product.product_image }}" alt="product" />
    </a>
    <div>{{ product.expiry_date }}<br>({{ product.expiry_date|timeuntil }})</div>
    <div class="product--left">
      <div>
        {% if product.is_macropicks %}
        <img src="{% static 'macropicks.png' %}" alt="Macropicks" />
        {% endif %}
      </div>
      <form action="{% url 'product_delete' product.id %}" method="post" id="delete_form">
        {% csrf_token %}
        <button type="submit" class="btn btn_delete" onclick="return confirm('Emin misiniz?');">Sil</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
<div class="pagination">
  <a href="?page=1" class="page">İlk Sayfa</a>
  {% for i in page_obj.paginator.page_range %}
  {% if page_obj.number == i %}
  <span class="page current">{{ i }}</span>
  {% else %}
  <a href="?page={{i}}" class="page">{{ i }}</a>
  {% endif %}
  {% endfor %}
  <a href="?page={{ page_obj.paginator.num_pages }}" class="page">Son Sayfa</a>
</div>
{% else %}
Eklenmiş ürün bulunamadı.
{% endif %}
{% endblock %}