*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav>ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
}

nav>ul>li>a {
  color: white;
}

.content {
  margin: 20px;
  position: relative;
  top: 60px;
  padding-bottom: 1px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #adadad;
  padding: 10px;
  overflow: hidden;
}

.product:last-child {
  margin-bottom: 20px;
}

.product--left {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}

.product_image>img {
  width: 125px !important;
  height: 125px !important;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.pagination>.page {
  padding: 5px 10px;
  border: 1px solid #3366cc;
  color: #4a4a4a;
  margin: 5px;
}

.page.current {
  background-color: #3366cc;
  color: azure;
}

.btn {
  border: none;
  padding: 0.25rem 0.5rem;
}

.btn_delete {
  background-color: red;
  color: white;
}

.btn_submit {
  background-color: blue;
  color: white;
}

#delete_form {
  align-self: flex-start;
}

.big_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#progress {
  margin: 10px;
  height: 15px;
  border: 1px solid #4a4a4a;
}

.process {
  background-color: green;
  height: 15px;
}