{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Macrocenter TETT Takip</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="{% url 'products' %}">Ürünler</a></li>
      <li><a href="{% url 'product_add' %}">Ürün Ekle</a></li>
    </ul>
  </nav>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  <div class="big_image"></div>
  <script>
    let product_images = document.querySelectorAll('.product_image');
    let big_image = document.querySelector('.big_image');
    let scrollTop;


    for (let i = 0; i < product_images.length; i++) {
      product_images[i].addEventListener('click', function (e) {
        product_image = e.target.getAttribute('src');
        big_image.style.display = 'block';
        big_image.style.width = '100vw';
        big_image.style.height = '100vh';
        big_image.style.backgroundImage = 'url("' + product_image + '")';
        document.body.style.overflow = 'hidden';
        let fromTop = document.querySelector("body").getBoundingClientRect().top;
        big_image.addEventListener('click', function () {
          big_image.style.display = 'none';
          document.body.style.overflow = 'auto';
          window.scrollTo(0, fromTop * -1);
          console.log(fromTop * -1);
        });
      });
    }
  </script>
</body>

</html>